html,body {
    height: 100%;
    background: url("imgs/bg.jpg") no-repeat center;
    background-size: cover;
    overflow-x: hidden;
    /*font-family: 'Saira Condensed';*/
    font-family: 'Russo One';
    margin: 0;
    border: 0;
    padding: 0;


}

#container {
    height: 100%;
    width: 100 vh;
    display: flex;
    color: #D40078;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    perspective: 500px;
}

#head {
    font-size: 3ch;
    padding: 5rem;
    color: #f9c80E;
    text-shadow: 1px 1px 0px #FF4365;

}

#content {
    background-color: #261447;
    border: solid #791E94;
    box-shadow: 0 0 20px #f9c80E;
    transform: rotateX(50deg);
}

#calculator {
    width: 250px;

    border-width: 4px;
    border-radius: 6px;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

#footer {
    color: #FF4365;
    padding: 1rem;
}

#inputBox {
    color: #f9c80E;
    /* border: solid #f9c80E;
    border-width: 1px; */
    min-height: 2.5rem;
    font-size: 3ch;
    padding: 1rem;
    text-shadow: 1px 1px 0px #FF4365;
    overflow-wrap: break-word;

}

#control-keys{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2ch;
}

#numbers{
    align-self: flex-start;
    display: grid;
    grid-template-areas: "A A A";
    
}

#historyBox {
    color: hsla(47, 95%, 52%, 0.418);
    min-height: 2.5rem;
    font-size: 3ch;
    padding: 1rem;
    /* border: solid #f9c80E;
    border-width: 1px; 
    box-shadow: 0 0 10px #f9c80E; */
    padding: 1rem; 
    overflow-wrap: break-word;
}

#display{
    border: solid #FF4365;
    border-width: 1px; 
    box-shadow: 1 1 -10px #FF4365;
}

#keypad {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    
}

.numKey{
    color: #FF4365;
    text-shadow: 1px 1px 0px #2de2e6;
    border: solid #FF4365;
    border-width: 1px;
    padding: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.resetKey{
    color: #2de2e6;
    border: solid #FF4365;
    text-shadow: 1px 1px 0 #FF4365;
    border-width: 1px;
    padding: 1rem; 
}

#operators{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.operatorKey{
    color: #f9c80E;
    text-shadow: 1px 1px 0px #FF4365;
    padding: 1rem; 
}

.clicked.numKey{
    background-color: #f9c80E;
    box-shadow: 0 0 20px #FF4365;
    color: #2de2e6;
    text-shadow: 1px 1px 0px #FF4365;
}

.clicked.operatorKey{
    text-shadow: 0 0 10px #f9c80E;
}

.clicked.resetKey{
    color: #FF4365;
    text-shadow: 0 0 10px black;
    background-color: #f9c80E;
    box-shadow: 0 0 20px #FF4365;
    
}