/* Style ideas...
    -star trek gui?
    -outrun

*/

body{

}

#container{

}

.head{

}

.content{

}

.footer{

}

.resetKey{

}

.operatorKey{

}

#inputBox{
    background-color: lightblue;
}

#calcBox{
    background-color: lightgreen;;
}

#keypad{
    
}

#historyBox{
    background-color: gray;
}

.numKey{
    
}

.clicked {
    color: red;
}